
.label-bs {
    font-size: 1.125rem
}

.write > a {
    color: inherit;
    text-decoration: none;
}

.user-profile-tabs {
    list-style: none;
    margin-top: 25px;
    box-shadow: 0 1px 0 0 var(--spfy-grey);
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    transition: all 0.3s;
    overflow-x: auto;
    overflow-y: hidden;
}

.user-profile-tabs li {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-profile-tabs li .user-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    padding: 0 20px 15px;
}

.user-profile-tabs li:first-of-type .user-link {
    padding-left: 0;
}

.user-profile-tabs li .user-link:hover {
    color: var(--spfy-primary-light);
}

.user-profile-tabs li:first-of-type {
    padding-left: 0;
}

.user-profile-tabs li .user-link.active:after {
    padding-left: 0;
    content: "";
    background-color: var(--spfy-primary-light);
    border-radius: 6px;
    display: flex;
    height: 4px;
    bottom: -2.5px;
    position: absolute;
    width: calc(100% - 40px) ;
}
.user-profile-tabs li:first-of-type .user-link.active:after {
    width: calc(100% - 20px);
}

.user-profile-tabs li:last-of-type {
    margin-left: auto;
}

.user-profile-tabs li .user-link.active {
    color: var(--spfy-primary-light);
}

.icon-xs {
    height: 20px;
    width: 20px;
    padding-right: 30px;
}

.settings-icon.active-icon {
    background: url("/img/icon-settings-color.svg") no-repeat;
}

.settings-icon.passive-icon {
    background: url("/img/icon-settings-black.svg") no-repeat;
}

.account-icon.active-icon {
    background: url("/img/icon-user-color.svg") no-repeat;
}

.account-icon.passive-icon {
    background: url("/img/icon-user-black.svg") no-repeat;
}

.view-invoice-row {
    transition: transform 0.2s ease-in-out;
}

.view-invoice-row:hover {
    transform: scale(1.01);
}

.view-invoice-row .status-paid {
    background-color: var(--spfy-secondary-color);
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}

.view-invoice-row .status-incoming {
    background-color: red;
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}

.view-invoice-row .invoice-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px){
    #profile-card{
        border-right: none !important;
    }
    #shipping-container{
        margin-top: 1.875rem;
    }
}

