.dropdown-menu {
    padding: 0.3125rem;
}

.dropdown-menu > .dropdown-item > a {
    color: inherit;
    text-decoration: none;
}
#desktop-header .dropdown-menu .dropdown-item.sub::after {
    position: absolute;
    top: 10px;
}

#desktop-header .dropdown-menu .dropdown-item {
    position: relative;
}


#desktop-header .dropdown-toggle::after, #desktop-header .dropdown-item.sub::after {
    display: inline-block;
    margin-top: 0.15em;
    margin-left: 0.5em;
    vertical-align: 0.5em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

#desktop-header .dropdown-toggle.show::after {
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}



.drop > span > a {
    border-radius: 10px
}

#desktop-header .dropdown-item:hover, .submenu .dropdown-item:hover {
    background-color: var(--spfy-main-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.flex-1 {
    flex: 1;
}

.dropdown-toggle, .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-number-container {
    background-color: var(--spfy-red);
    color: var(--spfy-white);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.mobile-nav > div{
    transition: opacity 1s ease-out, max-height 0.3s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
.mobile-nav > div.active {
    opacity: 1;
    max-height: 100px;
}

@media screen and (max-width: 992px) {
    #mobile-header {
        display: flex !important;
    }

    #desktop-header {
        display: none;
    }
}