:root{
    --spfy-white: #fff;
    --spfy-black: #000;
    --spfy-grey: #808080;
    --spfy-red: #f00;
    --spfy-light-gray: rgba(128,128,128, 0.2);
    --spfy-main-color: #CD7401;
    --spfy-primary-light: #fe9003;
    --spfy-primary-lighter: rgba(254, 144, 3, 0.6);
    --spfy-primary-dark: #9a5701;
    --spfy-secondary-color: #7ccd01;
    --spfy-secondary-light: #9afe03;
    --spfy-secondary-dark: #5d9a01;
    --spfy-foreground-color: #fbfbfb;
    --spfy-background-color: #f0f0f0;
    --spfy-border-color: #dfdfdf;
    --spfy-brown-color-rgba: rgba(205, 116, 1, 0.2);
    --spfy-brown-hover-color: #9c5900;
    --spfy-footer-color: #f5f5f5;
    --spfy-not-set-color: #c55;
    --spfy-hint-block-color: #999;
}

main > .container, main > .error-container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: var(--spfy-footer-color);
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: var(--spfy-not-set-color);
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: var(--spfy-hint-block-color);
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.btn-primary{
    background-color: transparent;
    border-color: var(--spfy-main-color);
    transition: all 0.15s ease-in-out ;
    color: var(--spfy-main-color);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--spfy-white);
    background-color: var(--spfy-brown-hover-color);
    border-color: var(--spfy-brown-hover-color);
}

.btn-primary:active {
    border-color: var(--spfy-main-color) !important;
    background-color: var(--spfy-main-color) !important;
    color: var(--spfy-white) !important;
}

.btn-outline-light {
    position: relative;
    overflow: hidden;
    border-color: var(--spfy-secondary-color);
    border-radius: 50px;
    padding: 8px 25px;
    background-color: unset;
    color: var(--spfy-secondary-color);
    transition: transform 0.1s;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
    transform: scale(1.05);
    border-color: var(--spfy-secondary-color);
    background-color: unset;
    color: var(--spfy-white);
}

.btn-outline-light:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--spfy-secondary-color);
    transition: left 0.3s ease-in-out;
    z-index: -1000;
}

.btn-outline-light:hover:before {
    left: 0;
}
.btn-outline-light:active {
    border-color: var(--spfy-grey)!important;
}

.site-login,
.site-signup,
.site-password-reset{
    background-color: var(--spfy-white);
    border-radius: 20px;
}

.site-signup,
.site-password-reset {
    padding: 35px 80px 50px 80px;
}

.site-login {
    padding: 35px 50px 50px 50px
}

.new-container {
    background-color: rgba(205,116,1,0.95);
    padding-top: 20px !important;
}

a {
    color: var(--spfy-main-color);
    text-decoration: none;
}

a:hover,
a:focus
{
    color: var(--spfy-brown-hover-color);
}

a.add-new-btn:active {
    color: var(--spfy-grey);
}

#loginform-rememberme ~ label {
    color: #2d2d2d;
    font-weight: 600;
}

.form-check-input:checked, .form-check-input.is-valid:checked {
    background-color: var(--spfy-primary-light);
    border-color: var(--spfy-primary-light);
}

.form-check-input.is-valid:focus {
    box-shadow: 0 0 0 0.25rem var(--spfy-primary-lighter);
}

.form-check-input:focus {
    border-color: var(--spfy-primary-lighter);
    box-shadow: 0 0 0 0.25rem var(--spfy-primary-lighter);
}

.form-select:focus, .form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--spfy-primary-lighter);
    border-color: var(--spfy-primary-lighter);
}

@media screen and (max-width: 480px ) {
    .site-login,
    .site-signup,
    .site-password-reset{
        padding: 35px 40px 40px 50px
    }
}

@media screen and (min-width: 992px) {
    .page-wrapper {
        position: relative;
        top: 75px;
    }
}

.m-delete {
    margin-top: 0
}

.add-new-btn {
    right: 50px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    color: var(--spfy-white);
    border-radius: 100%;
    transition: transform 0.2s;
}

.add-new-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--spfy-white);
}

.new-prod-form-btn {
    min-width: 157px;
}

.items-grid-container {
    display: grid;
    column-gap: 35px;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px
}

.product-item-link {
    transition: color 0.2s;
    text-decoration: none;
}

.product-item-link:hover {
    transition: transform 0.5s;
    transform: scale(1.02);
    cursor: pointer;
}

.badge-active {
    background-color: green;
}

.badge-inactive {
    background-color: red;
}


.badge-available {
    background-color: var(--spfy-main-color);
}

.badge-unavailable {
    background-color: var(--spfy-red);
}

.badge-brown {
    background-color: var(--spfy-main-color);
}

.card {
    border: none;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-footer {
    background-color: transparent;
}

.custom-pagination {
    display: flex;
    gap: 5px;
}

.custom-page-link, .custom-page-item {
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-padding-y: 0.5rem;
    font-weight: 500;
    border-radius: 50%;
}

.custom-page-item.page-item:last-child .custom-page-link {
    border-radius: 50%;
}

.custom-page-item.page-item:first-child .custom-page-link {
    border-radius: 50%;
}

.custom-page-item.active > .custom-page-link {
    background-color: var(--spfy-primary-light);
    color: var(--spfy-white);
    border-color: transparent;
}

.custom-page-item:not(.active) > .custom-page-link {
    color: var(--spfy-primary-light);
    border-color: transparent;
}

.custom-page-link.page-link:focus {
    box-shadow: 0 0 0 0.1rem var(--spfy-primary-light)
}

.custom-page-item.disabled {
    display: none;
}


@media screen and (max-width: 1010px) {
    .m-delete {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .items-grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 860px) {
    .add-new-btn {
        right: 30px;
    }
}

@media screen and (max-width: 650px) {
    .add-new-btn {
        right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .items-grid-container {
        grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (max-width: 400px) {
    .items-grid-container {
        grid-template-columns: repeat(1,1fr);
    }
}

/**
  Extend bootstrap css
 */

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.5rem;
}