
.label-bs {
    font-size: 18px
}
.input-bs {
    padding: 5px 10px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    font-weight: bolder;
}

.write > a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 992px){
    #profile-card{
        border-right: none !important;
    }
    #shipping-container{
        margin-top: 30px;
    }
}

