.dropdown-menu {
    padding: 5px;
}

.dropdown-menu > .dropdown-item > a {
    color: inherit;
    text-decoration: none;
}

.drop > span > a {
    border-radius: 10px
}

.dropdown-item:hover{
    background-color: #CD7401;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.flex-1 {
    flex: 1;
}

.dropdown-toggle, .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-number-container {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.mobile-nav > div{
    transition: opacity 1s ease-out, max-height 0.3s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
.mobile-nav > div.active {
    opacity: 1;
    max-height: 100px;
}


@media screen and (max-width: 992px) {
    #mobile-header {
        display: flex !important;
    }

    #desktop-header {
        display: none;
    }
}